#workout {
    text-align: center;
    margin-top: 50px;
}

#workout h1 {
    font-size: 36px;
}

#workout button {
    margin-top: 20px;
}

#workout #timerDisplay {
    font-size: 48px;
    margin-top: 20px;
}