#workoutMenu {
    text-align: center;
    margin-top: 50px;
    align-items: center;
    padding: 0 20px 0 20px;
}

.sortable-list {
    margin: 20px auto;
    max-width: 920px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-height: 44px;
}

.sortable-list .item {
    list-style: none;
    display: flex;
    cursor: move;
    background: #fff;
    align-items: center;
    border-radius: 5px;
    padding: 10px 13px;
    margin: 10px;
    border: 1px solid #ccc;
    justify-content: space-between;
}

.item .details {
    display: flex;
    align-items: center;
}

.item .details img {
    height: 43px;
    width: 43px;
    pointer-events: none;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 50%;
}

.item .details span {
    font-size: 1.13rem;
}

.item i {
    color: #474747;
    font-size: 1.13rem;
}

.item.dragging {
    opacity: 0.6;
}

.item.dragging :where(.details, i) {
    opacity: 0;
}

.exercise-input {
    margin: 20px auto;
    max-width: 900px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

.exercise-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.exercise-input-wrapper select{
    flex-grow: 1;
    margin: 0 auto;
}

.exercise-input-wrapper input[type="number"]{
    width: 90px;
}

.exercise-input-wrapper select,
.exercise-input-wrapper input[type="number"],
.exercise-input-wrapper button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.exercise-input-wrapper select,
.exercise-input-wrapper input[type="number"] {
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#exercise-description {
    font-size: 16px;
    text-align: center;
    margin: 10px 20px 0 20px;
}

@media (max-width: 980px) {
    .exercise-input-wrapper {
        flex-direction: column;
        align-items: stretch
    }

    .exercise-input-wrapper select,
    .exercise-input-wrapper input[type="number"],
    .exercise-input-wrapper button {
        margin: 5px 0;
        width: auto;
    }
}