.sortable-list {
    margin: 20px auto;
    max-width: 920px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-height: 44px;
}

.sortable-list .item {
    list-style: none;
    display: flex;
    cursor: move;
    background: #fff;
    align-items: center;
    border-radius: 5px;
    padding: 6px;
    margin: 10px;
    border: 1px solid #ccc;
}

.sortable-list .item button {
    font-size: 12px;
    margin: 0 0 0 10px;
    padding: 6px;
}

.sortable-list .item .details {
    margin-left: 8px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.sortable-list .item .details img {
    height: 43px;
    width: 43px;
    pointer-events: none;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 50%;
}

.sortable-list .item .details span {
    font-size: 1.13rem;
}

.sortable-list .item i {
    color: #474747;
    font-size: 1.13rem;
}

.sortable-list .item.dragging {
    opacity: 0.6;
}

.sortable-list .item.dragging :where(.details, i) {
    opacity: 0;
}

.editor-workout-input {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 900px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

#editor-workout-name-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.editor-exercise-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.editor-exercise-input-wrapper #exercise-dropdown {
    flex-grow: 1;
    margin: 0 auto;
}

.editor-exercise-input-wrapper .exercise-input {
    width: 90px;
}

.editor-exercise-input-wrapper #exercise-dropdown,
.editor-exercise-input-wrapper .exercise-input,
.editor-exercise-input-wrapper #add-exercise {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.editor-exercise-input-wrapper #exercise-dropdown,
.editor-exercise-input-wrapper .exercise-input {
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#editor-exercise-description {
    font-size: 16px;
    text-align: center;
    margin: 6px 20px 6px 20px;
}

@media (max-width: 980px) {
    .editor-exercise-input-wrapper {
        flex-direction: column;
        align-items: stretch
    }

    .editor-exercise-input-wrapper #exercise-dropdown,
    .editor-exercise-input-wrapper .exercise-input,
    .editor-exercise-input-wrapper #add-exercise {
        margin: 5px 0;
        width: auto;
    }
}
