.workouts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workouts-container {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-height: 44px;
}

.workouts-container p{
    margin: 10px;
    font-size: 18px;
}

.workouts-container .item{
    min-width: 140px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
    margin: 10px;
    border: 1px solid #ccc;
    user-select: none;
    font-size: 18px;
    cursor: pointer;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6px;
}

.dropdown button {
    margin: 3px;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    max-width: 100px;
}
